In [ ]:
"hi this is anirudh 56+90"

In [ ]:
print(" hi this is anirudh, 65/9")

In [ ]:
print(" hi this is anirudh", 65*9)

In [ ]:
896666678/8523698741/52365412*2365898741-322225898741+3214785269

In [ ]:
67*3-56/23*34+12.45

In [ ]:
56/23

In [ ]:
printf("Oh No");

In [ ]:
print("understand");

In [ ]:
A+89

In [ ]:
67+89+55+90.87/23*67

In [ ]:
(2+2)/3

In [ ]:
I am a comment, this might give error find it and answer it now print(“WOW”)

In [ ]:
username = input("Enter username:")
print("Username is: " + username)

In [ ]:
name = input ("Name")
age = input ("Age")
marks = input("Marks")
print("Result is: " +name , age , marks)

In [ ]:
print(10*5)

In [ ]:
x = 17.5
print(type(x))

In [ ]:
x = "class"
print(type(x))

In [ ]:
(3+4+5+6+7/5)/100

In [5]:
#Convert Km to m
km = int(input())
conv_r = int(1000)
meter = int(km*conv_r)
print(meter)

10
10000

In [ ]:
#Area of a triangle 
b= float(input("Enter base measurements:"))
h= float(input("Enter height measurements:"))
areaoftri = 0.5*b*h
print(areaoftri)

In [2]:
#Area of Square
s= int(input("Enter Side Measurement:"))
areaofsqr = s*s
print(areaofsqr)

Enter Side Measurement:5
25

In [4]:
#Area of Rectangle
l=int(input("Enter Length:"))
b=int(input("Enter Breadth:"))
areaofrec = l*b
print(areaofrec)

Enter Length:5
Enter Breadth:5
25

In [9]:
#Area of a Circle
r= float(input("Enter Radius value:"))
pi = float(22/7)
areaofcirc= float(pi*r*r)
print(areaofcirc)

Enter Radius value:5
78.57142857142857

In [22]:
#Convert Celcius to Fahrenheit
deg_C= float((input("Enter Celcius value:")))
deg_F = float(deg_C*9/5+32)
print(deg_F)

Enter Celcius value:15
59.0

In [23]:
#Simple Interest
p= float(input("Enter principal amount:"))
r= float(input("Enter Annual Interest Rate:"))
n= float(input("Enter No. of Years:"))
i= p*n*r
print("The Simple Interest is:",i)

Enter principal amount:500
Enter Annual Interest Rate:2
Enter No. of Years:1
The Simple Interest is: 1000.0

In [33]:
#Compound Interest
p= float(input("Enter principal amount:"))
r= float(input("Enter Interest rate:"))
n= float(input("Enter no. of times the interest is compounded:"))
t= float(input("Enter the time period:"))
nr= float(1+(r/n))
nt= float(n*t)
a= float(p*(nr**(nt)))
print("The Compounded Amount is:",a)

Enter principal amount:500
Enter Interest rate:2
Enter no. of times the interest is compounded:1
Enter the time period:1
The Compounded Amount is: 1500.0

In [6]:
a = 20
b = str(a)
print(type(b))

<class 'str'>

In [13]:
name=["ani","anirudh","talluri","tall","antal"]
age=[25,26,27,28,29,30]
name.append ( "amir" )
age.append (11)
print(name,age)
print(name[2],age[2])

['ani', 'anirudh', 'talluri', 'tall', 'antal', 'amir'] [25, 26, 27, 28, 29, 30, 11]
talluri 27