This is beginning of Python basics programming

Comments can be used to explain Python code.

Comments can be used to make the code more readable.

Comments can be used to prevent execution when testing code.

In [1]:
#first python program
print("hello, world")

hello, world

multiline string

Since Python will ignore string literals that are not assigned to a variable, you can add a multiline string (triple quotes) in your code, and place your comment inside it:

In [7]:
"""
This is a comment
written in
more than just one line
"""
print("Hello, World!")

Hello, World!

Python Operators:

Operators are used to perform operations on variables and values.

In the example below, we use the + operator to add together two values:

In [2]:
2+2

4

In [3]:
56+90/78*66%3-23-900

-865.8461538461538

Python divides the operators in the following groups:

Arithmetic operators

Assignment operators

Comparison operators

Logical operators

Identity operators

Membership operators

Bitwise operators

In [10]:
50 - 5*6

20

In [11]:
(50 - 5*6) / 4

5.0

In [12]:
 8 / 5  # division always returns a floating point number

1.6

In [13]:
17 / 3  # classic division returns a float

5.666666666666667

In [14]:
17 // 3  # floor division discards the fractional part

5

In [15]:
 17 % 3  # the % operator returns the remainder of the division

2

In [16]:
 5 * 3 + 2  # result * divisor + remainder

17

In [17]:
5 ** 2  # 5 squared

25

Variables: 
Variables are containers for storing data values.

In [2]:
x = 5
y = "John"
print(x)
print(y)

5
John

Variables do not need to be declared with any particular type, and can even change type after they have been set.

In [1]:
x = 4       # x is of type int
x = "Sally" # x is now of type str
print(x)

Sally

Casting:
If you want to specify the data type of a variable, this can be done with casting.

In [20]:
x = str(3)    # x will be '3'
y = int(3)    # y will be 3
z = float(3)  # z will be 3.0

Get the Type:
You can get the data type of a variable with the type() function.

In [3]:
x = 5
y = "John"
z= "Gurkirat456"
print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'str'>
<class 'str'>

Case-Sensitive:
Variable names are case-sensitive.

In [22]:
a = 4
A = "Sally"
#A will not overwrite a

Variable Names:

A variable can have a short name (like x and y) or a more descriptive name (age, carname, total_volume). 
Rules for Python variables:

A variable name must start with a letter or the underscore character

A variable name cannot start with a number

A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )

Variable names are case-sensitive (age, Age and AGE are three different variables)

In [23]:
myvar = "John"
my_var = "John"
_my_var = "John"
myVar = "John"
MYVAR = "John"
myvar2 = "John"

Many Values to Multiple Variables:

Python allows you to assign values to multiple variables in one line

In [24]:
x, y, z = "Orange", "Banana", "Cherry"
print(x)
print(y)
print(z)

Orange
Banana
Cherry

One Value to Multiple Variables:

And you can assign the same value to multiple variables in one line

In [25]:
x = y = z = "Orange"
print(x)
print(y)
print(z)

Orange
Orange
Orange

Unpack a Collection:

If you have a collection of values in a list, tuple etc. Python allows you extract the values into variables. This is called unpacking.

In [26]:
fruits = ["apple", "banana", "cherry"]
x, y, z = fruits
print(x)
print(y)
print(z)

apple
banana
cherry

Output Variables:

The Python print statement is often used to output variables.

To combine both text and a variable, Python uses the + character

In [4]:
x = "awesome"
y ="I don't care still"
print("Whatever is python " + y)

Whatever is python I don't care still

You can also use the + character to add a variable to another variable:

In [28]:
x = "Python is "
y = "awesome"
z =  x + y
print(z)

Python is awesome

For numbers, the + character works as a mathematical operator:

In [29]:
x = 5
y = 10
print(x + y)

15

In [7]:
width = 20
height = 5 * 9
print(width * height)

900

Global Variables:

Variables that are created outside of a function (as in all of the examples above) are known as global variables.

Global variables can be used by everyone, both inside of functions and outside.

In [31]:
x = "awesome"

def myfunc():
  print("Python is " + x)

myfunc()

Python is awesome

If you create a variable with the same name inside a function, this variable will be local, and can only be used inside the function. The global variable with the same name will remain as it was, global and with the original value.

In [32]:
x = "awesome"

def myfunc():
  x = "fantastic"
  print("Python is " + x)

myfunc()

print("Python is " + x)

Python is fantastic
Python is awesome

The global Keyword:

Normally, when you create a variable inside a function, that variable is local, and can only be used inside that function.

To create a global variable inside a function, you can use the global keyword.

In [33]:
def myfunc():
  global x
  x = "fantastic"

myfunc()

print("Python is " + x)

Python is fantastic

Also, use the global keyword if you want to change a global variable inside a function.

In [34]:
x = "awesome"

def myfunc():
  global x
  x = "fantastic"

myfunc()

print("Python is " + x)

Python is fantastic

There are three numeric types in Python:


int
float
complex
Variables of numeric types are created when you assign a value to them:

In [35]:
x = 1    # int
y = 2.8  # float
z = 1j   # complex

Int:

Int, or integer, is a whole number, positive or negative, without decimals, of unlimited length

In [36]:
x = 1
y = 35656222554887711
z = -3255522

print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'int'>
<class 'int'>

Float:

Float, or "floating point number" is a number, positive or negative, containing one or more decimals.

In [37]:
x = 1.10
y = 1.0
z = -35.59

print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>

Float can also be scientific numbers with an "e" to indicate the power of 10.

In [38]:
x = 35e3
y = 12E4
z = -87.7e100

print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>

Complex:

Complex numbers are written with a "j" as the imaginary part:

In [39]:
x = 3+5j
y = 5j
z = -5j

print(type(x))
print(type(y))
print(type(z))

<class 'complex'>
<class 'complex'>
<class 'complex'>

Type Conversion:

You can convert from one type to another with the int(), float(), and complex() methods:

In [40]:
x = 1    # int
y = 2.8  # float
z = 1j   # complex

#convert from int to float:
a = float(x)

#convert from float to int:
b = int(y)

#convert from int to complex:
c = complex(x)

print(a)
print(b)
print(c)

print(type(a))
print(type(b))
print(type(c))

1.0
2
(1+0j)
<class 'float'>
<class 'int'>
<class 'complex'>

Random Number:

Python does not have a random() function to make a random number, but Python has a built-in module called random that can be used to make random numbers:

In [2]:
import random

print(random.randrange(11, 20))

14

Specify a Variable Type:

There may be times when you want to specify a type on to a variable. This can be done with casting. Python is an object-orientated language, and as such it uses classes to define data types, including its primitive types.


Casting in python is therefore done using constructor functions:

int() - constructs an integer number from an integer literal, a float literal (by removing all decimals), or a string literal (providing the string represents a whole number)

float() - constructs a float number from an integer literal, a float literal or a string literal (providing the string represents a float or an integer)

str() - constructs a string from a wide variety of data types, including strings, integer literals and float literals

In [42]:
x = int(1)   # x will be 1
y = int(2.8) # y will be 2
z = int("3") # z will be 3

In [43]:
x = float(1)     # x will be 1.0
y = float(2.8)   # y will be 2.8
z = float("3")   # z will be 3.0
w = float("4.2") # w will be 4.2

In [44]:
x = str("s1") # x will be 's1'
y = str(2)    # y will be '2'
z = str(3.0)  # z will be '3.0'

Strings:

Strings in python are surrounded by either single quotation marks, or double quotation marks.

'hello' is the same as "hello".

You can display a string literal with the print() function:

In [45]:
print("Hello")
print('Hello')

Hello
Hello

Assign String to a Variable

Assigning a string to a variable is done with the variable name followed by an equal sign and the string:

In [46]:
a = "Hello"
print(a)

Hello

Multiline Strings

You can assign a multiline string to a variable by using three quotes:

In [47]:
a = """Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua."""
print(a)

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

Strings are Arrays:

Like many other popular programming languages, strings in Python are arrays of bytes representing unicode characters.

However, Python does not have a character data type, a single character is simply a string with a length of 1.

Square brackets can be used to access elements of the string.

In [48]:
a = "Hello, World!"
print(a[1])

e

Looping Through a String:

Since strings are arrays, we can loop through the characters in a string, with a for loop.

In [49]:
for x in "banana":
  print(x)

b
a
n
a
n
a

String Length:

To get the length of a string, use the len() function.

In [50]:
a = "Hello, World!"
print(len(a))

13

Check String:

To check if a certain phrase or character is present in a string, we can use the keyword in.

In [51]:
txt = "The best things in life are free!"
print("free" in txt)

True

Slicing:

You can return a range of characters by using the slice syntax.

Specify the start index and the end index, separated by a colon, to return a part of the string.

In [3]:
b = "Hello, World!"
print(b[2:8])

llo, W

Slice From the Start:

By leaving out the start index, the range will start at the first character:

In [8]:
b = "Hello, World!"
print(b[ :6])

Hello,

Slice To the End:

By leaving out the end index, the range will go to the end:

In [55]:
b = "Hello, World!"
print(b[2:])

llo, World!

Negative Indexing:

Use negative indexes to start the slice from the end of the string:

In [8]:
b = "Hello, World!"
print(b[-13:-5])

Hello, W

String Concatenation:

To concatenate, or combine, two strings you can use the + operator.

In [57]:
a = "Hello"
b = "World"
c = a + b
print(c)

HelloWorld

Boolean Values:

In programming you often need to know if an expression is True or False.

You can evaluate any expression in Python, and get one of two answers, True or False.

When you compare two values, the expression is evaluated and Python returns the Boolean answer:

In [58]:
print(10 > 9)
print(10 == 9)
print(10 < 9)

True
False
False

When you run a condition in an if statement, Python returns True or False:

Evaluate Values and Variables:

The bool() function allows you to evaluate any value, and give you True or False in return,

In [9]:
print(bool("Hello"))
print(bool(15))
print(bool(10<9))

True
True
False

List:

Lists are used to store multiple items in a single variable.

Lists are one of 4 built-in data types in Python used to store collections of data, the other 3 are Tuple, Set, and Dictionary, all with different qualities and usage.

Lists are created using square brackets:

In [61]:
thislist = ["apple", "banana", "cherry"]
print(thislist)

['apple', 'banana', 'cherry']

List Items:

List items are ordered, changeable, and allow duplicate values.

List items are indexed, the first item has index [0], the second item has index [1] etc.

Ordered:

When we say that lists are ordered, it means that the items have a defined order, and that order will not change.

If you add new items to a list, the new items will be placed at the end of the list.

Changeable:

The list is changeable, meaning that we can change, add, and remove items in a list after it has been created.

Allow Duplicates:

Since lists are indexed, lists can have items with the same value:

In [62]:
thislist = ["apple", "banana", "cherry", "apple", "cherry"]
print(thislist)

['apple', 'banana', 'cherry', 'apple', 'cherry']

List Length:

To determine how many items a list has, use the len() function:

In [63]:
thislist = ["apple", "banana", "cherry"]
print(len(thislist))

3

List Items - Data Types:

List items can be of any data type:

In [64]:
list1 = ["apple", "banana", "cherry"]
list2 = [1, 5, 7, 9, 3]
list3 = [True, False, False]

A list can contain different data types:

In [66]:
list1 = ["abc", 34, True, 40, "male"]
print(list1)

['abc', 34, True, 40, 'male']

type()

From Python's perspective, lists are defined as objects with the data type 'list':

In [67]:
mylist = ["apple", "banana", "cherry"]
print(type(mylist))

<class 'list'>

The list() Constructor:

It is also possible to use the list() constructor when creating a new list.

In [68]:
thislist = list(("apple", "banana", "cherry")) # note the double round-brackets
print(thislist)

['apple', 'banana', 'cherry']

Python Collections (Arrays):

There are four collection data types in the Python programming language:


List is a collection which is ordered and changeable. Allows duplicate members.

Tuple is a collection which is ordered and unchangeable. Allows duplicate members.

Set is a collection which is unordered and unindexed. No duplicate members.

Dictionary is a collection which is unordered and changeable. No duplicate members.

When choosing a collection type, it is useful to understand the properties of that type. Choosing the right type for a particular data set could mean retention of meaning, and, it could mean an increase in efficiency or security.

Access Items:

List items are indexed and you can access them by referring to the index number:

In [69]:
thislist = ["apple", "banana", "cherry"]
print(thislist[1])

banana

Negative Indexing:

Negative indexing means start from the end

-1 refers to the last item, -2 refers to the second last item etc.

In [70]:
thislist = ["apple", "banana", "cherry"]
print(thislist[-1])

cherry

Range of Indexes:

You can specify a range of indexes by specifying where to start and where to end the range.

When specifying a range, the return value will be a new list with the specified items.

In [71]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[2:5])

['cherry', 'orange', 'kiwi']

By leaving out the start value, the range will start at the first item:

In [10]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[:4])

['apple', 'banana', 'cherry', 'orange']

By leaving out the end value, the range will go on to the end of the list:

In [73]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[2:])

['cherry', 'orange', 'kiwi', 'melon', 'mango']

Range of Negative Indexes:

Specify negative indexes if you want to start the search from the end of the list:

In [74]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[-4:-1])

['orange', 'kiwi', 'melon']

Change Item Value:

To change the value of a specific item, refer to the index number:

In [76]:
thislist = ["apple", "banana", "cherry"]
thislist[1] = "blackcurrant"
print(thislist)

['apple', 'blackcurrant', 'cherry']

Change a Range of Item Values:

To change the value of items within a specific range, define a list with the new values, and refer to the range of index numbers where you want to insert the new values:

In [77]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "mango"]
thislist[1:3] = ["blackcurrant", "watermelon"]
print(thislist)

['apple', 'blackcurrant', 'watermelon', 'orange', 'kiwi', 'mango']

If you insert more items than you replace, the new items will be inserted where you specified, and the remaining items will move accordingly:

In [78]:
thislist = ["apple", "banana", "cherry"]
thislist[1:2] = ["blackcurrant", "watermelon"]
print(thislist)

['apple', 'blackcurrant', 'watermelon', 'cherry']

If you insert less items than you replace, the new items will be inserted where you specified, and the remaining items will move accordingly:

In [79]:
thislist = ["apple", "banana", "cherry"]
thislist[1:3] = ["watermelon"]
print(thislist)

['apple', 'watermelon']

Insert Items:

To insert a new list item, without replacing any of the existing values, we can use the insert() method.

The insert() method inserts an item at the specified index:

In [80]:
thislist = ["apple", "banana", "cherry"]
thislist.insert(2, "watermelon")
print(thislist)

['apple', 'banana', 'watermelon', 'cherry']

Append Items:

To add an item to the end of the list, use the append() method:

In [81]:
thislist = ["apple", "banana", "cherry"]
thislist.append("orange")
print(thislist)

['apple', 'banana', 'cherry', 'orange']

Insert Items:

To insert a list item at a specified index, use the insert() method.

The insert() method inserts an item at the specified index:

In [82]:
thislist = ["apple", "banana", "cherry"]
thislist.insert(1, "orange")
print(thislist)

['apple', 'orange', 'banana', 'cherry']

Extend List:

To append elements from another list to the current list, use the extend() method.

In [83]:
thislist = ["apple", "banana", "cherry"]
tropical = ["mango", "pineapple", "papaya"]
thislist.extend(tropical)
print(thislist)

['apple', 'banana', 'cherry', 'mango', 'pineapple', 'papaya']

Remove Specified Item:

The remove() method removes the specified item.

In [84]:
thislist = ["apple", "banana", "cherry"]
thislist.remove("banana")
print(thislist)

['apple', 'cherry']

Remove Specified Index:

The pop() method removes the specified index.

In [85]:
thislist = ["apple", "banana", "cherry"]
thislist.pop(1)
print(thislist)

['apple', 'cherry']

If you do not specify the index, the pop() method removes the last item.

In [86]:
thislist = ["apple", "banana", "cherry"]
thislist.pop()
print(thislist)

['apple', 'banana']

The del keyword also removes the specified index:

In [87]:
thislist = ["apple", "banana", "cherry"]
del thislist[0]
print(thislist)

['banana', 'cherry']

The del keyword can also delete the list completely.

In [88]:
thislist = ["apple", "banana", "cherry"]
del thislist

Clear the List:

The clear() method empties the list.

The list still remains, but it has no content.

In [89]:
thislist = ["apple", "banana", "cherry"]
thislist.clear()
print(thislist)

[]

Sort List Alphanumerically:

List objects have a sort() method that will sort the list alphanumerically, ascending, by default:

In [90]:
thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort()
print(thislist)

['banana', 'kiwi', 'mango', 'orange', 'pineapple']

Sort Descending:

To sort descending, use the keyword argument reverse = True:

In [91]:
thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort(reverse = True)
print(thislist)

['pineapple', 'orange', 'mango', 'kiwi', 'banana']

In [92]:
thislist = [100, 50, 65, 82, 23]
thislist.sort(reverse = True)
print(thislist)

[100, 82, 65, 50, 23]

Case Insensitive Sort:

By default the sort() method is case sensitive, resulting in all capital letters being sorted before lower case letters:

In [93]:
thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.sort()
print(thislist)

['Kiwi', 'Orange', 'banana', 'cherry']

Luckily we can use built-in functions as key functions when sorting a list.

So if you want a case-insensitive sort function, use str.lower as a key function:

In [94]:
thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.sort(key = str.lower)
print(thislist)

['banana', 'cherry', 'Kiwi', 'Orange']

Reverse Order:

What if you want to reverse the order of a list, regardless of the alphabet?

The reverse() method reverses the current sorting order of the elements.

In [95]:
thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.reverse()
print(thislist)

['cherry', 'Kiwi', 'Orange', 'banana']

Copy a List:

You cannot copy a list simply by typing list2 = list1, because: list2 will only be a reference to list1, and changes made in list1 will automatically also be made in list2.

There are ways to make a copy, one way is to use the built-in List method copy().

In [96]:
thislist = ["apple", "banana", "cherry"]
mylist = thislist.copy()
print(mylist)

['apple', 'banana', 'cherry']

Another way to make a copy is to use the built-in method list().

In [97]:
thislist = ["apple", "banana", "cherry"]
mylist = list(thislist)
print(mylist)

['apple', 'banana', 'cherry']

Join Two Lists

There are several ways to join, or concatenate, two or more lists in Python.

One of the easiest ways are by using the + operator.

In [98]:
list1 = ["a", "b", "c"]
list2 = [1, 2, 3]

list3 = list1 + list2
print(list3)

['a', 'b', 'c', 1, 2, 3]

Or you can use the extend() method, which purpose is to add elements from one list to another list:

In [99]:
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

list1.extend(list2)
print(list1)

['a', 'b', 'c', 1, 2, 3]

Tuple:

Tuples are used to store multiple items in a single variable.

Tuple is one of 4 built-in data types in Python used to store collections of data, the other 3 are List, Set, and Dictionary, all with different qualities and usage.

A tuple is a collection which is ordered and unchangeable.

Tuples are written with round brackets.

In [1]:
thistuple = ("apple", "banana", "cherry")
print(thistuple)

('apple', 'banana', 'cherry')

Tuple Items:

Tuple items are ordered, unchangeable, and allow duplicate values.

Tuple items are indexed, the first item has index [0], the second item has index [1] etc.

Ordered:

When we say that tuples are ordered, it means that the items have a defined order, and that order will not change.

Unchangeable:

Tuples are unchangeable, meaning that we cannot change, add or remove items after the tuple has been created.

Allow Duplicates:

Since tuple are indexed, tuples can have items with the same value:

In [2]:
thistuple = ("apple", "banana", "cherry", "apple", "cherry")
print(thistuple)

('apple', 'banana', 'cherry', 'apple', 'cherry')

Tuple Length:

To determine how many items a tuple has, use the len() function:

In [3]:
thistuple = ("apple", "banana", "cherry")
print(len(thistuple))

3

Create Tuple With One Item:

To create a tuple with only one item, you have to add a comma after the item, otherwise Python will not recognize it as a tuple.

In [4]:
thistuple = ("apple",)
print(type(thistuple))

#NOT a tuple
thistuple = ("apple")
print(type(thistuple))

<class 'tuple'>
<class 'str'>

Tuple Items - Data Types:

Tuple items can be of any data type:

In [5]:
tuple1 = ("apple", "banana", "cherry")
tuple2 = (1, 5, 7, 9, 3)
tuple3 = (True, False, False)

A tuple can contain different data types:

In [6]:
tuple1 = ("abc", 34, True, 40, "male")

The tuple() Constructor:

It is also possible to use the tuple() constructor to make a tuple.

In [7]:
thistuple = tuple(("apple", "banana", "cherry")) # note the double round-brackets
print(thistuple)

('apple', 'banana', 'cherry')

Access Tuple Items:

You can access tuple items by referring to the index number, inside square brackets:

In [8]:
thistuple = ("apple", "banana", "cherry")
print(thistuple[1])

banana

Negative Indexing:

Negative indexing means start from the end.

-1 refers to the last item, -2 refers to the second last item etc.

In [9]:
thistuple = ("apple", "banana", "cherry")
print(thistuple[-1])

cherry

Range of Indexes:

You can specify a range of indexes by specifying where to start and where to end the range.

When specifying a range, the return value will be a new tuple with the specified items.

In [10]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[2:5])

('cherry', 'orange', 'kiwi')

Range of Negative Indexes:

Specify negative indexes if you want to start the search from the end of the tuple:

In [11]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[-4:-1])

('orange', 'kiwi', 'melon')

Change Tuple Values:

Once a tuple is created, you cannot change its values. Tuples are unchangeable, or immutable as it also is called.

But there is a workaround. You can convert the tuple into a list, change the list, and convert the list back into a tuple.

In [12]:
x = ("apple", "banana", "cherry")
y = list(x)
y[1] = "kiwi"
x = tuple(y)

print(x)

('apple', 'kiwi', 'cherry')

In [2]:
a = "ani"
a[1] = "b"
print (a)

TypeError: 'str' object does not support item assignment

In [21]:
a =  [10, 50,30,20,40]
a.append("ani")
a.pop()
a.sort()
print(a)
b = a.copy()
b.insert(2,45)
print(b)
c = a+b
print(c)

[10, 20, 30, 40, 50]
[10, 20, 45, 30, 40, 50]
[10, 20, 30, 40, 50, 10, 20, 45, 30, 40, 50]

In [34]:
details = ("Anirudh Talluri", 25, 25, 50, 75, 71378157)
d = list(details)
d[3] = 45
d1 = tuple(d)
print(d1)
print(type(d1))

('Anirudh Talluri', 25, 25, 45, 75, 71378157)
<class 'tuple'>

In [38]:
b1= ("Anirudh Talluri", 25, 25, 50, 75, 71378157)
c1 = list(b1)
c1.pop()
print(c1)
print(d1+b1)

['Anirudh Talluri', 25, 25, 50, 75]
('Anirudh Talluri', 25, 25, 45, 75, 71378157, 'Anirudh Talluri', 25, 25, 50, 75, 71378157)